<%= form_with(model: truck, local: true, :html => { multipart:true }) do |form| %>
  <% if truck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(truck.errors.count, "error") %> prohibited this truck from being saved:</h2>

      <ul>
      <% truck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :truck_name, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, id: :truck_address, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :truck_phone, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :website %>
    <%= form.text_field :website, id: :truck_website, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.text_field :remote_image_url, multiple: true, class: "form-control"%>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
