<div class="row">
	<div class="col-md-3">
				<%= image_tag @truck.image_url %>
				<h2>
					<%= @truck.name %>
				</h2>
				
				<div class="star-rating" data-score= <%= @avg_rating %> ></div>
				<p><%= "#{@reviews.length} reviews" %></p>

				<p>
					<strong>Address:</strong>
					<%= @truck.address %>
				</p>

				<p>
					<strong>Phone:</strong>
					<%= @truck.phone %>
				</p>

				<p>
					<strong>Website:</strong>
					<%= @truck.website %>
				</p>

				<%= link_to "Write a Review", new_truck_review_path(@truck), class: "btn btn-primary" %>
	</div>

	<div class="col-md-9">
				<% if @reviews.blank? %>
					<h3>No reviews yet. Be the first to write one!</h3>
				<% else %>
					<table class="table">
						<tbody>
							<% @reviews.each do |review| %>
								<tr>
									<td>
										<div class="star-rating" data-score= <%= review.rating %> ></div>
										<p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				<% end %>
	</div>
</div>

<%= link_to 'Edit', edit_truck_path(@truck), class: "btn btn-link" %> |
<%= link_to 'Back', trucks_path, class: "btn btn-link" %>

<script>
	$( document ).ready(function() {
	$('.star-rating').raty({
			path: '/assets',
			readOnly: true,
			score: function() {
				return $(this).attr('data-score');
			}
	});
});
</script>
